# 2. Selección, Limpieza y Alistamineto de Datos

## Librerias

In [11]:
import pandas as pd
import gdown
import os

## Base de Datos Inicial

In [ ]:
file_id = "1rGmaBuo0xymafMghsgGMRYPPFTtwVzp3"
url = f'https://drive.google.com/uc?id={file_id}'
gdown.download(url, 'Saber11.csv', quiet=False)
df = pd.read_csv('Saber11.csv')
os.remove("Saber11.csv")

Downloading...
From (original): https://drive.google.com/uc?id=1rGmaBuo0xymafMghsgGMRYPPFTtwVzp3
From (redirected): https://drive.google.com/uc?id=1rGmaBuo0xymafMghsgGMRYPPFTtwVzp3&confirm=t&uuid=b0974b0f-1bb8-4b74-aabe-3cf0c085375d
To: c:\Users\felip\OneDrive\Desktop\Maestria Industrial\2025-1\Analitica\Proyecto 2\Proyecto-2\Saber11.csv
100%|██████████| 297M/297M [00:08<00:00, 33.7MB/s]

In [15]:
df.head()

,periodo,tipodocumento,documento,zona,bilingue,calendario,caracter,daneestablecimiento,danesede,codigodpto,...,computador,internet,lavadora,nivelingles,ingles,mate,sociales,ciencias,lectura,global
0,20132,CC,SB11201320520337,URBANO,N,A,TÉCNICO/ACADÉMICO,1.110010e+11,111001015776,11,...,Si,Si,Si,NaN,40.0,44.0,NaN,NaN,NaN,NaN
1,20132,TI,SB11201320545839,URBANO,N,A,ACADÉMICO,1.080010e+11,108001002835,8,...,No,No,Si,A1,43.0,28.0,NaN,NaN,NaN,NaN
2,20132,TI,SB11201320008819,URBANO,N,A,TÉCNICO/ACADÉMICO,1.730010e+11,173001000359,73,...,Si,Si,Si,A-,43.0,43.0,NaN,NaN,NaN,NaN
3,20132,TI,SB11201320512865,RURAL,N,A,ACADÉMICO,2.707020e+11,270702000120,70,...,No,No,No,A-,39.0,34.0,NaN,NaN,NaN,NaN
4,20132,TI,SB11201320037607,URBANO,N,A,ACADÉMICO,1.118500e+11,111850001576,11,...,Si,Si,No,NaN,43.0,34.0,NaN,NaN,NaN,NaN